doctype html
html(lang="en")
head
    title= 'Gallery'
body
    header
        nav
            a(href='') Gallery 
            a(href='/') Upload pictures
    main
        h1 Gallery
            each img in imgs
                a(href='./uploads/' + img)
                    img(src= './uploads/' + img)
